/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: grey;
}

.dale {
    background-color: #404eed;
}

.icone {
    padding-left: 50px;
    margin-left: 100px;
    color: white;
}

.butao-usuario {
    padding-right: 50px;
    margin-right: 100px;
}

.btn {
    border-radius: 25px 25px;
}

.btn:hover {
    box-shadow: 3px 3px 3px black;
}

.dcria {
    color: white;
}

.link-menu:hover {
    text-decoration: underline;
}

.tabela-user-room {
    border-radius: 5px;
}


.nome-room {
    text-decoration: none;
}

.nome-room:hover {
    text-decoration: underline;
}

.chat {
    border-radius: 5px;
}

.linha-room {
    color: white;
}

.msg-form {
    //position: fixed;
    bottom: 0;
    //width: 90%;
    width: 100%;
    height: 50px;
    padding: 10px;
    align-items: end;
    //align-content: space-between;
}

.col-md-9 {
    //height: 100vh;
    overflow: scroll;
}

.msg-content {
    width: 80%;
    margin-right: 5px;
}

.message-box {
    word-wrap: break-word;
    width: fit-content;
    max-width: 40%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #555555;
    padding: 10px;
}

